extends ./template/F7.pug
block myCss
    include ./template/font-awesome.pug
block myDom
    div.views
        div.view.view-main
            div.pages
                div.page.navbar-fixed
                    div.navbar
                        div.navbar-inner
                            div.center.
                                Pismire
                            div.right
                                a(href='https://github.com/antiphoton/Pismire')
                                    i.icon.fa.fa-github
                    div.page-content
                        div.content-block
                            div.content-block-inner
                                p.
                                    Hello world.

